In [5]:
student = ['aditya','varma','ramesh','suresh','anusha']

In [6]:
print(student)

['aditya', 'varma', 'ramesh', 'suresh', 'anusha']

In [7]:
type(student)

list

In [8]:
print(student[1])

varma

In [9]:
print(student[3].title())

Suresh

In [10]:
student.append('teja')

In [11]:
print(student)

['aditya', 'varma', 'ramesh', 'suresh', 'anusha', 'teja']

In [12]:
student.append('honey')
print(student)

['aditya', 'varma', 'ramesh', 'suresh', 'anusha', 'teja', 'honey']

In [14]:
student.insert(3,'bunny')
print(student)

['aditya', 'varma', 'ramesh', 'bunny', 'bunny', 'suresh', 'anusha', 'teja', 'honey']

In [15]:
student[0]='varma'

In [16]:
print(student)

['varma', 'varma', 'ramesh', 'bunny', 'bunny', 'suresh', 'anusha', 'teja', 'honey']

In [17]:
del student[1]

In [18]:
print(student)

['varma', 'ramesh', 'bunny', 'bunny', 'suresh', 'anusha', 'teja', 'honey']